.row
  %h5.col-md-8 Group Events
  .col-md-4
    .btn.btn.btn-primary-outline.add_ge{role: "button"}= link_to "Add Group Event", new_group_event_path
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th #
      %th Name
      %th Start Date
      %th End Date
      %th Location
      %th Status
      %th Created Date
  %tbody
    - @gevents.each_with_index do |gevent, index|
      %tr
        %th{:scope => "row"}= index+1
        %td= gevent.name
        %td= gevent.start_at
        %td= gevent.end_at
        %td= gevent.location
        %td= gevent.status
        %td= gevent.created_at